/* importing local fonts to stylesheets*/
@font-face {
    font-family: roboto-reg;
    src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(assets/fonts/Roboto-Bold.ttf);
}

:root{
    --page-background-color: hsl(235, 18%, 26%);
    --card-background-color: hsl(0,0%,100%);
    --card-text-color: hsl(234, 29%, 20%);
    --email-section-color: hsl(231, 7%, 60%);
    --button-active-gradient-start: hsl(331, 78%, 59%);
    --button-active-gradient-end: hsl(4, 100%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--page-background-color);
}
.mobile{display: none;}
.card-container{
    background-color: var(--card-background-color);
    width: 66%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 40%;
    border-radius: 2rem;
}
.card-content{
    color: var(--card-text-color);
    font-family: roboto-reg;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.card-text h1{
    font-family: roboto-bold;
    font-size: 3.6rem;
}
.card-text h1, .card-text p{
    padding-right: 1rem;
}
.card-text p, .card-text ul li{
    font-size: 16px;
}
.card-text ul{
    list-style: url('assets/images/icon-list.svg');
    list-style-position: inside;
}
.card-text ul li:not(.card-text ul li:last-child){
    margin-bottom: 0.7rem;
}
.card-img{
    width: 40%;
}
.card-img img{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.validation{
    display: flex;
    justify-content: space-between;
}
label, #validation-mssg {font-size: 12px;}
#validation-mssg{color: var(--button-active-gradient-end);}
label, button, #validation-mssg{
    font-family: roboto-bold;
}
button, input{
    height: 50px;
    border-radius: 7px;
}
button{
    background-color: var(--card-text-color);
    border: solid 2px var(--card-text-color);
    color: var(--card-background-color);
    font-size: 16px;
}
input{
    padding: 0 1.2rem;
    font-size: 15px;
    color: var(--page-background-color);
    border:solid 0.3px var(--email-section-color);
}
.invalid{
    color: var(--button-active-gradient-end);
    border-color: var(--button-active-gradient-end) ;
    background-color: hsla(4, 100%, 67%,0.2);
}
/* success card */
#success-mssg{
    width: 40%;
    display: none;
    justify-content: center;
    padding: 7rem auto;
}
span{
    font-family: roboto-bold;
}
.card-icon{
    width: 21%;
}
/* active states */
*:focus{outline: none;} /*override the default */
input:focus, input:hover{
    border-color: solid 0.7px var(--page-background-color);
    cursor: pointer;
}
button:hover{
    background-image: linear-gradient(to right, var(--button-active-gradient-start),var(--button-active-gradient-end));
    border: none;
    box-shadow: 0 7px 10px var(--button-active-gradient-end);
}

/* responsiveness */
@media screen and (max-width: 1272px) {
    .card-container{
        width: 70%;
    }
    .card-content{
        gap: 2rem
    }
    .card-text{
        gap: 1rem
    }
    .card-text h1{
        font-size: 2.7rem;
    }
    .card-img{
        width: 45%;
    }
}
@media screen and (max-width: 1272px) {
    .card-container{
        width: 72%;
    }
    .card-content{
        gap: 1.8rem
    }
    .card-text{
        gap: 0.9rem
    }
    .card-text h1{
        font-size: 2.5rem;
    }
    .card-img{
        width: 47%;
    }
}
@media screen and (max-width: 900px) {
    .card-container{
        width: 75%;
        padding: 1.2rem;
    }
    .card-content{
        gap: 1.2rem
    }
    .card-text{
        gap: 0.7rem
    }
    .card-text h1{
        font-size: 2.5rem;
    }
    .card-img{
        width: 48%;
    }
    button, input{
        height: 45px;
    }

}
@media screen and (max-width: 800px) {
    .mobile{display: block;}
    .desktop{display: none;}
    .card-container{
        width: 100%;
        flex-direction: column-reverse;
        min-height: 100vh;
        padding: 0 0 2rem 0;  
        margin: 0;
        justify-content: flex-end;
        gap: 4rem;
        align-items: center;
        border-radius: 0px;
    }
    .card-img{
        width: 100%;
    }
    .card-content{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 2.7rem;
        gap: 2.7rem;
    }
    .card-text{
        gap: 1.8rem;
    }
    form{
        gap: 2rem;
    }
    #success-mssg{
        width: 100%;
        padding: 9rem 0.5rem;
        justify-content: flex-end;
    }
}