@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
}
/* Header-Nav */
header{
    margin:  2rem 7.5rem;
}
.menu-btn{
    display: none;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-options{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-options li{
    color: hsl(236, 13%, 42%);
}
/* Main-content */
main{
    margin: 2rem 7.5rem;
    display: grid;
    grid-template-columns: 2.5fr 1.2fr;
    gap: 4rem;
}
/* Showcase-section(left-grid) */
#showcase-section{
    display: grid;
    grid-area: auto;
    grid-row: 1/2;
}
.showcase-img img{
    max-width: 100%;  

}

#showcase-section .content{
    margin: 1.5rem 0;
    display: grid;
}
h1{
    grid-column: 1/2;
    grid-row: 1/3;
    font-weight: bolder;
    font-size: 48px;
}
p{
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 15px;
}


.content button{
    grid-column-start: 2;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    max-height: 50px;
    min-width: 10rem;
    color: white;
    background-color: hsl(5, 85%, 63%);
    border: hsl(5, 85%, 63%) solid 1px;
    padding: 0.1rem 3rem;
    box-shadow: 0 0 7px;
}
    
/* Aside Quick Link (right grid) */
#aside-info{
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
    color: hsl(36, 100%, 99%);
    background-color: hsl(240, 100%, 5%);
}

#aside-info h2{
    font-weight: 800;
    font-size: 32px;
    color: hsl(35, 77%, 62%);
}

.article:nth-of-type(2){
    border-top: hsl(236, 13%, 42%) solid 1px;
    border-bottom: hsl(236, 13%, 42%) solid 1px;
    padding: 1.8rem 0;
}

.article p{
    margin-top: 1rem;
    color: hsl(233, 8%, 79%);
}

/* Options quick link (lower-grid) */
#options{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.option-info{
    width: 35%;
    display: flex;
    gap: 1rem;

}
.option-info img{
    min-width: 40%;
}
.info-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info-text h2{
    color: hsl(233, 8%, 79%);
}
.info-text .bold-text{
    font-weight: bold;
    color: hsl(240, 100%, 5%);
}
.info-text p{
    color: hsl(236, 13%, 42%);
}

/* hovers */
.nav-options li:hover, .info-text .bold-text:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.content button:hover{
    background-color: hsl(240, 100%, 5%);
    border-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
.article h3:hover{
    color:hsl(35, 77%, 62%);cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
    header{
        margin:  2rem 6.3rem;
    }

    main{
        margin: 2rem 6.3rem;
    }
    .showcase-img img{
        min-height: 100%;
    }
    .content h1{
        margin-right: 0.4rem;
    }
    
    .option-info{
        width: 45%;
        gap: 0.5rem;
    }
    .option-info img{
        width: 43%;
    }
}

@media screen and (max-width: 1000px) {
    header{
        margin:  2rem 4.3rem;
    }

    main{
        margin: 2rem 4.3rem;
    }
    .option-info img{
        width: 36%;
    }
    .info-text h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 810px) {
    header{
        margin:  2rem 2rem;
    }

    main{
        margin: 2rem 2rem;
    }
    .option-info img{
        width: 27%;
    }
}

/* Mobile Responsivness */
@media screen and (max-width: 700px) {
    header{
        margin: 2rem 1rem;
    }
    main{
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
    }
    #showcase-section{
        display: flex;
        flex-direction: column;
    }
    .showcase-img{
        height: 39vh;
    }
    #showcase-section .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    p{
        font-size: 18px;
    }
    .content button{
        width: 4rem;
        font-size: 18px;
        padding: 1rem 1rem;
    }
    #options{
        flex-direction: column;
    }
    .option-info{
        width: 100%;
    } 
    /* Menu Buttton */

    .menu-btn{
        display: block;
        position: absolute;
        top: 2.9em;
        right: 1rem;
    }
    .menu-btn button{
        background-color: hsl(36, 100%, 99%);
        border: none;
    }
    .nav-options{
        display: block;
        background-color: hsl(36, 100%, 99%);
        width: 67vw;
        height: 100vh;
        position: absolute;
        top: 0rem;
        right: 0rem;
        z-index: 2;
        border: hsl(36, 100%, 99%) 1px solid;
        padding: 2rem 2rem;
        transform: translateX(500px);
    }
    .show{
        transform: translateX(20px);
    }
    .nav-options button{
        float: right;
        margin-bottom: 3rem;
        background-color: hsl(36, 100%, 99%);
        border: none;
    }

    .nav-options li{
        margin-bottom: 2rem;
        font-size: 18px;
        color: black;
    }

    .nav-options li:first-of-type{
        margin-top: 7rem;
    }
}

