@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, hsla(13, 100%, 72%), hsla(353, 100%, 62%,0.89));
    background-size: 150vw 288vh;
    background-position: 28% 56%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 0 7rem 0;
    border-radius: 0 0 0 72px;
}
#menu-btn, #close-btn, .sub-options{display: none;}
.show{display: block;}
#menu-btn, #close-btn, .icon {border: none;background-color: hsla(13, 100%, 72%,0.2); margin-left: 0.5rem;}

.mobile{display: none;}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#icon-cum-menu{
    display: flex;
    gap: 7rem;
    align-items: center;
    justify-content: space-between;
}
.grouped{
    display: flex;
    align-items: center;
    gap: 9rem;
}
.nav-options{
    display: flex;
    gap: 2.1rem
}
.nav-options li{
    list-style: none;
    color: hsl(0, 11%, 96%);
    font-family: 'Ubuntu', sans-serif;
}
#buttons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#buttons a{
    color: hsl(0, 11%, 96%);
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.active-btn{
    border: hsl(0, 0%, 100%) solid 1px;
    background-color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: hsl(356, 100%, 66%);
    border-radius: 18px;
    padding: 0.5rem 1rem;
}

.sub-options{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    z-index: 2;
    border-radius: 4px;
    box-shadow: rgb(175, 158, 158) 0 2px 9px;
}
.sub-options li{
    color: rgb(7, 6, 6);
}
.sub-options li:not(.sub-options li:last-of-type){margin-bottom: 0.7rem;}
/* showcase-section */
main{overflow-x: hidden;}
#showcase-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass',sans-serif;
}

#showcase-section h1{
    font-weight: bolder;
    font-size: 3rem;
}
#showcase-section p, #showcase-section h1{
    color: hsl(0, 0%, 100%)
}
#showcase-btns{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#border-only{
    background-color: hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%);
    
}
main{padding: 3rem 0;}
h2{
    text-align: center;
    font-size: 2.1rem;
}
h2,h3{
    color: hsl(208, 49%, 24%);
}
h2,.text-top,.text-bottom,.special-text{
    font-family: 'Overpass', sans-serif;
}
.basic-intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.section-img{
    width: 36%;
}
.section-img img{
    height: 100vh;
}
.intro-text{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-left: 9rem;
    margin-bottom: 9rem;

}
h3{
    margin-bottom: 1rem;
}
.text-bottom p,.text-top p,.special-text p{
    line-height: 1.8rem;
    margin-top: 0.7rem;
}
/* special infrastructure */
.special-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 52vh;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: left -80% bottom 10%;
    margin: 3rem 0;
    border-radius: 0 63px 0 63px;
}
.special-text{
    max-width: 36%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.special-text,.special-heading,.sections{
    color: hsl(0, 0%, 100%);
}
/* features */
.features{
    display: flex;
    justify-content: space-between;
    margin: 10rem 0 4rem 0;
    gap: 2rem;

}
.features-img{
    width: 36%;
}
.features-img img{
    height: 80vh;
}
.feature-text{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-right: 3rem;

}
/* footer */
footer{
    display: flex;
    background-color: hsl(240, 10%, 16%);
    justify-content: space-around;
    padding: 7rem;
    font-family: 'Overpass', sans-serif;
    border-radius: 0 84px 0 0;
}
.footer-list{
    display: flex;
    gap: 12rem;
}
.bold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-bottom: 2.1rem;
}
.footer-options {
    list-style: none;
    color: hsl(0, 5%, 71%);
}
.footer-options li:not(.footer-options li:last-of-type){
    margin-bottom: 1.2rem;
}

/* hover */
.nav-options li:hover, #buttons a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.icon{cursor: pointer;}
.active-btn:hover{
    background-color: hsl(355, 100%, 74%);
    border-color: hsl(355, 100%, 74%);
    color: white;
    cursor: pointer;
}
#border-only:hover{
    border: hsl(0, 0%, 100%) solid 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    cursor: pointer;
}
.footer-options li:hover{
    text-decoration: underline;
}
/* mobile responsiveness */
@media screen and (max-width: 950px) {
    .section-img{
        width: 40%;
    }
    .section-img img{
        height: 100vh;
    }
    #icon-cum-menu{gap: 4rem}
    .grouped{gap: 4rem;}
    .intro-text{
        margin-top: 4rem;
        max-width: 45%;
        gap: 2.1rem;
        padding-left: 5rem;
        margin-bottom: 13rem;
    }
    h3{
        margin-bottom: 0.5rem;
    }
    .text-bottom p,.text-top p,.special-text p{
        line-height: 1.2rem;
        margin-top: 0.2rem;
    }
    #showcase-section h1{
        font-size: 2.7rem;
    }
    h2{
        font-size: 1.8rem;
    }
    /* special */
    .special-section{
        max-height: 72vh;
        background-position: left 90% bottom 17%;
        margin: 2rem 0;
        padding-right: 2rem;
    }
    .special-text{
        max-width: 43%;
        gap: 1.2rem;
    }
    /* features */
    .features-img{
        width: 40%;
    }
    .features-img img{
        height: 72vh;
    }
    .feature-text{
        max-width: 48%;
        gap: 2.1rem;
        padding-right: 4rem;
    
    }
    /* footer */
    footer{
        padding: 3rem;
    }
    .footer-list{
        gap: 9rem;
    }
}

@media screen and (max-width: 830px) {
    #icon-cum-menu{gap: 3.6rem}
    .grouped{gap: 3rem;}
    .section-img img{
        height: 40vh;
    }
    .intro-text{
        margin-top: 7rem;
        max-width: 40vh;
    }
    .special-section{
        max-height: 25vh;
    }
    .special-text{
        max-width: 45%;
        gap: 1.2rem;
    }
    #showcase-section h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .features-img{
        width: 40%;
    }
    .features-img img{
        height: 32vh;
    }
    .feature-text{
        max-width: 48%;
        gap: 2.1rem;
        padding-right: 1.2rem;
    }
    footer{
        padding: 3rem;
    }
    .footer-list{
        gap: 7rem;
    }
}

/* mobile responsiveness */
@media screen and (max-width: 600px) {
    header{
        background-image: url(images/bg-pattern-intro-mobile.svg), linear-gradient(90deg, hsla(13, 100%, 72%), hsla(353, 100%, 62%,0.89));
        background-size: 250vw;
        background-position: 27% 36%;
        background-repeat: no-repeat;
    }
    #icon-cum-menu{gap: 12rem;}
    #close-btn{display: none;}
    .nav-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 4rem;
    }
    .nav-options li, #buttons a{
        color: hsl(208, 49%, 24%);
    }
    .nav-options li{
        margin-bottom: 0.2rem;
    }
    .icon{background-color: hsl(0, 0%, 100%) ;fill:hsl(353, 100%, 62%);}
    .icon img{width: 3vw;}
    
    #buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-top: hsl(208, 28%, 88%) solid 2px;
        padding: 0.5rem 0 0 0;
    }
    .active-btn{
        border: hsl(356, 100%, 66%) solid 1px;
        background-color: hsl(356, 100%, 66%);
        color: hsl(0, 0%, 100%);
    }
    .active-btn:hover{
        border: hsl(356, 100%, 66%) solid 1px;
        background-color: hsl(0, 0%, 100%);
        color: hsl(356, 100%, 66%);
    }
    .mobile-expand{
        padding: 1.8rem 3rem 0 3rem;
        background-color: hsl(0, 0%, 100%);
        border-radius: 4px;
        position: absolute;
        top: 7rem;
        left: 3rem;
        height: 43vh;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        width: 85vw;
        z-index: 3;
        box-shadow: hsl(0, 5%, 71%) 0 0 7px;
    }
    .sub-options{
        position: none;
        position: static;
        background-color: hsl(208, 28%, 88%);
        margin-top: 0.5rem;
        padding: 1rem 3rem;
        color: hsl(208, 49%, 24%);
        z-index: 2;
        border-radius: 4px;
    }
    .grouped{
        display: none;
    }
    #showcase-section h1{
        font-size: 2.1rem;
        text-align: center;
    }
    h2{
        font-size: 1.8rem;
    }
    #menu-btn{
        display: block;
    }
    .text-bottom p,.text-top p,.special-text p{
        line-height: 1.8rem;
        margin-top: 0.7rem;
    }
    /* basic intro */
    .basic-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        padding: 0.7rem;
    }
    .desktop{display: none;}
    .mobile{display: block;}
    .section-img{
        margin: 1.2rem auto;
        width: 100%;
    }
    .section-img img{
        height: 32vh;
        width: 100%;
        margin: 0.5rem auto;
    }
    .intro-text{
        justify-content: center;
        align-items: center;
        margin-top: 0;
        max-width: 90%;
        padding: 0;
        text-align: center;
        margin-bottom: 9rem;
    }
    .special-section{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-height: none;
        background-position: left 0% bottom 150%;
        background-size: contain;
        padding: 0;
        align-items: center;
    }
    .special-img{
        position: relative;
        top: -9rem;
    }
    .special-img img{
        width: 100vw;
        height: 50vh;
    }
    .special-text{
        position: relative;
        top: -9rem;
        max-width: 84%;
        gap: 1rem;
    }
    /* features */
    .features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 4rem 0;
        gap: 2rem;
    
    }
    .features-img{
        margin: 1.2rem auto;
        width: 100%;
    }
    .features-img img{
        height: 32vh;
    }
    .feature-text{
        justify-content: center;
        align-items: center;
        margin-top: 0;
        max-width: 90%;
        padding: 0;
        text-align: center;
    
    }
    /* footer */
    .footer-list{
        gap: 2.1rem;
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.6rem;
    }
}