@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, hsla(13, 100%, 72%), hsla(353, 100%, 62%,0.89));
    background-size: 150vw 288vh;
    background-position: 28% 56%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 0 7rem 0;
    border-radius: 0 0 0 72px;
}
.sub-options{display: none;}
.show{display: block;}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#icon-cum-menu{
    display: flex;
    gap: 7rem;
    align-items: center;
    justify-content: space-between;
}
.nav-options{
    display: flex;
    gap: 2.1rem
}
.nav-options li{
    list-style: none;
    color: hsl(0, 11%, 96%);
    font-family: 'Ubuntu', sans-serif;
}
#buttons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#buttons a{
    color: hsl(0, 11%, 96%);
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.active-btn{
    border: hsl(0, 0%, 100%) solid 1px;
    background-color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: hsl(356, 100%, 66%);
    border-radius: 18px;
    padding: 0.5rem 1rem;
}

/* showcase-section */
#showcase-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass',sans-serif;
}

#showcase-section h1{
    font-weight: bolder;
    font-size: 3rem;
}
#showcase-section p, #showcase-section h1{
    color: hsl(0, 0%, 100%)
}
#showcase-btns{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#border-only{
    background-color: hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%);
    
}
main{padding: 3rem 0;}
h2{
    text-align: center;
    font-size: 2.1rem;
}
h2,h3{
    color: hsl(208, 49%, 24%);
}
h2,.text-top,.text-bottom,.special-text{
    font-family: 'Overpass', sans-serif;
}
.basic-intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.section-img{
    width: 36%;
}
.section-img img{
    height: 100vh;
}
.intro-text{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-left: 9rem;
    margin-bottom: 9rem;

}
h3{
    margin-bottom: 1rem;
}
.text-bottom p,.text-top p,.special-text p{
    line-height: 1.8rem;
    margin-top: 0.7rem;
}
/* special infrastructure */
.special-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 52vh;
    background-image: url(images/bg-pattern-circles.svg), linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: left -80% bottom 10%;
    margin: 3rem 0;
    border-radius: 0 63px 0 63px;
}
.special-text{
    max-width: 36%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.special-text,.special-heading{
    color: hsl(0, 0%, 100%);
}
/* features */
.features{
    display: flex;
    justify-content: space-between;
    margin: 10rem 0 4rem 0;
    gap: 2rem;

}
.features-img{
    width: 36%;
}
.features-img img{
    height: 80vh;
}
.feature-text{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-right: 3rem;

}
