*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('images/bg-desktop.svg') hsl(257, 40%, 49%);
    color: white;
    background-repeat:  no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    /* overflow: hidden; */
}

/* header and nav */

header{
    width: 100%;
    padding: 1.7rem 1rem 1.7rem 4rem;
}
.logo img{
    width: 18%;
}

/* showcase */
.showcase{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 4.5rem;
}
.left-img, .showcase-text{
    width: 50%;
}
.left-img img{
    width: 95%;
}
.showcase-text{
    padding: 0.7rem;
}

/* showcase-text */
.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.subtext{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.heading, .subtext, button{
    margin: 0.7rem;
}

button{
    padding: 0.9rem 3.1rem;
    border-radius: 2rem;
    font-size: 17px;
    color: hsl(300, 69%, 71%);
    background-color: white;
    border: white;
    box-shadow: 5px 3px 20px 1px rgba(0, 0, 0,0.8);
}

.icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 4rem 0 0;
    position: relative;
    bottom: 4rem;
}

svg{
    margin-right: 2rem;
    fill: white;}

    /* hover */
button:hover{
    color:  white;
    background-color: hsl(300, 69%, 71%);
    border: hsl(300, 69%, 71%);
}
svg:hover{
    fill: violet;
}

/* media queries for mobile responsiveness */
@media screen and (max-width: 1000px){
    .logo img{
        width: 25%;
    }

    .showcase{
        flex-direction: column;
    }
    .left-img, .showcase-text{
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .logo img{
        width: 43%;
    }

    .showcase{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .left-img, .showcase-text{
        width: 100%;
    }

    button{
        padding: 0.9rem 5.4rem;
    }
    .icon{
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 2rem;
    }
    svg{
        margin-right: 1rem;
    }
}